spring:
  h2:
    console:
      enabled: false
      path: /h2-console
      settings:
        web-allow-others: false
  datasource:
    url: jdbc:h2:file:./data/movie-db
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
logging.level:
  org.hibernate.SQL: debug